@import "utils/var";

@mixin work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: dark;
  color: $black;
  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: auto;
  width: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  @include work-sans;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-weight: 600;
}

#root, #__next {
  isolation: isolate;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem); /* Hero header with dynamic scaling */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem); /* Primary section headers */
}

h3 {
  font-size: 1.5rem; /* Secondary headers, consistent with global rem */
}

p {
  font-size: 1rem;
}
